* {
    font-family: 'Poppins', sans-serif;
}

header{

    background-color:#F2F2F2;
    height: 60px;
    justify-content: space-between;
    align-items: center

}

footer{

    height: 100px;
    justify-content: space-between;
    padding: 30px 60px;
    background-color:#F2F2F2;

}

main{

    height: 1010px;

}

/* this is a class */


.logo{
    width: 210.52px;
    height: 51.58px;
    left: 20px;
    top: 4px;
}

.nav-text{
    height: 58px;
    width: 257px;
    left: 98px;
    top: 1px;
    border-radius: nullpx;
}

.container{

    display: flex;
}

.icon-social{

    margin: 5x;
    display: flex;
    margin-top: 7%;
   
   }
.icon-social span{

    padding: 10px;
    left: 96.94%;
    right: 1.39%;
    top: 86.33%;
    bottom: 7.16%;
}

/* .logo span{

    margin-left: 20%;
} */

.main-text-background{

    width: 781px;
    height: 450px;
    left: 118px;
    top: 386px;
    border-radius: 20px;
    backdrop-filter: blur(4px);
    background: rgba(0, 0, 0, 0.1);
    margin-right: 30%;
    margin-top: 7.5%;
    
}

.main-text-background p {

    font-size: 48px;
    font-weight: 400;
    line-height: 70.5px;
    text-align: left;
    letter-spacing: 0.13em;
    text-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
    color: black;
}

.card-articles{


    background-color: #F2F2F2;
    width: 336px;
    height: 320px;
    padding: 20px;
    border: 3px solid #000000;
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.1));
    border-radius: 20px;
    
    
}

.img-card{

    width: 278.68px;
    height: 180px;
    border-radius: 16px;
    margin-left: 7.5%;
    margin-top: 5%;
   
}

.card-button{

    margin-left: 75%;
    margin-top: 10%;
    border-radius: 24px;
    width: 90px;
    height: 30px;
    left: 10px;
    top: 10px;
    background: #BDBDBD;
}

.card-articles p{

    margin-left: 7.5%;
    font-weight: 400;
    font-size: 24x;
    line-height: 22px;
    
}

.form-container{

    background-color: #F2F2F2;
    width: 417px;
    height: 420px;
    left: 120px;
    top: 1405px;
    padding: 20px;
    border: 3px solid #000000;
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.1));
    border-radius: 16px;
    margin-left: 10%;
    margin-top: 5%;
    
}

.form-fields{

    border-radius: 24px;
    width: 332px;
    height: 35px;
    /* padding: 8px 8px 8px 24px; */
    margin-left: 10%;
}

.name-margin{

    margin-top: 2%;
}


.form-button{

    width: 169px;
    height: 40px;
    right: 42px;
    bottom: 22px;
    border-radius: 24px;
    margin-top: 10%;
    margin-left: 60%;
    background-color: #BDBDBD;
}

.p-form{

    margin-left: 13%;
    font-weight: 600;
    font-size: 24px;
    line-height: 50px;
    width: 332px;
    height: 101px;
    left: 40px;
    top: 52px;
    text-align: center;
}
/* this is an ID */

#hero{

    text-align: center;
    justify-content:left;
    background-image:url(/images/Background\ Image.png);
    background-size: cover;
    width: 1440px;
    height: 1010.1px;
    margin-bottom: -10%;

    /* flex settings */

    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#card{

    justify-content:space-evenly;
    flex-wrap: wrap;
}
