* {
    font-family: 'Poppins', sans-serif;
}

body { 
    margin: 0;

}

h1,h2,h3,h4,h6 {
    
    font-family: 'Italiana', serif;

}

h1 {

    font-size: 5rem;
    color: whitesmoke;
    margin-block: 0.2em;
}

h2 {

    font-size: 4rem;
}

h3 {

    font-size: 3rem;
}

h4 {

    font-size: 2rem;
}

h5{

    font-size: 1rem;
}

p {
    color:goldenrod;
    /* font-size: 21px */
    /* font-family: 'Poppins', sans-serif; */
}

/* links */

a:hover{
    background-color: bisque;
}

a:visited{

    color:chocolate

}

a:active{

    color:darkgreen;
}

/* menu links */

a.menu:link {

    color:darkgrey;

}

a.menu:hover{

    color:sienna;
}


/* this is a class */

a.button-link: link, a.button-link:visited {
    background-color: rgb(77, 59, 53);
    color: whitesmoke;
    border-radius: 8px;
    box-shadow: 0px 1px 4px 1px rgb(0 0 0 / 8%);
}

.footer {

    height: 200px;
    background-color:blanchedalmond;
    justify-content: space-between;
    padding: 30px 60px;
}

.header{

    height: 30px;
    padding: 30px;
    justify-content: space-between;
    align-items: center;

    
}

.header nav a {
    padding: 10px 30px;
    text-decoration: none;
}

.logo-header{

    width: 50px;
    padding: 5px;

}
.home-article {

    /* border: 10px solid whitesmoke; */
    border-radius: 16px;
    background-color: whitesmoke;
    width: 200px;
    padding: 20px;
    margin: 20px;
}

.icon-feature{

    font-size: 4em;
    color: burlywood;
    margin: 10px;

}

.icon-social{
 margin: 5x;

}

.container {
display: flex;

}

.img-article{

    width: 100%;
}

.author-image{

    width: 40px;
    height: 40px;
}

.author-container{

    align-items: center;

}

.feature-card{

    padding: 10px;
    min-width: 200px;
    max-width: 350px;
}

.contact-30{

    width: 30%;

}

.contact-70{

    width:70%;
}

/* this is an id */

#hero {

    background-color: tomato;
    background-image: url('../img/karl-fredrickson-TYIzeCiZ_60-unsplash.jpg');
    background-size: cover;
    text-align: center;
     /* height: 500px; */
     height: 60vh;
     /* flex settings */
     flex-direction: column;
     align-items: center;
     justify-content: center

}

#articles {

    justify-content:space-evenly;
    flex-wrap: wrap;

}

#features {

    flex-wrap: wrap;
    justify-content: center;

}

#contact{

    padding: 30px;

}


/* ------------------------------------ */

/* TABLET */

@media only screen and (min-width: 600px) and (max-width: 767px) {
    h1 {
       background-color: blue; 
       font-size: 4.653rem;
    }

}

/* ------------------------------------ */

/* DESKTOP */

@media only screen and (min-width: 768px) {
    h1 {
        background-color: darkmagenta;
        font-size: 5.653rem;
    }